.quotePlay {
    width: 95%;
    height: 22vh;
    padding: 2.5%;
    margin: 0vh 0vw 5vh 0vw;

    background: rgba(212, 175, 55, 0.8);
    border-radius: 2vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landingQuote {
    width: 50vw;
    height:fit-content;
    padding: 0vh 25vw 0vh 25vw;
    border: 0px;
    margin: 0vh 0vw 5vh 0vw;
}

.quoteHide {
    display: none;
}

.quoteText {
    width: 80%;
    padding: 0%;
    margin: 0% 10% 0% 10%;

    list-style: none;
    font-size: 4.2vh;
    text-align: center;
    font-family: "Freestyle Script";
    color: rgba(0,0,0);
    white-space: pre-line;
}

.quoteBy {
    width: 80%;
    padding: 0%;
    margin: 0% 10% 0% 10%;

    list-style: none;
    font-size: 4.2vh;
    text-align: center;
    font-family: "Freestyle Script";
    color: rgba(0,0,0);
}

.landingQuote .quoteText, .landingQuote .quoteBy{
    width: 100%;
    margin: 0%;

    text-transform: none;
    color: rgba(212, 175, 55);
}