@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.searchBarLanding {
    width: 30vw;
    height: 5vh;
    padding: 0%;
    border: 0px;
    margin: 0vh 0vw 3vh 0vw;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background: rgba(255, 255, 255, 0.25);
    border-radius: 2vh;
    font-size: 2vh;
}

.searchBarNav {
    width: 20%;
    height: 50%;
    padding: 0%;
    border: 0px;
    margin: 25% 2% 25% 3%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background: rgba(255, 255, 255, 0.5);
    border-radius: 2vh;
    font-size: 1.8vh;
}

.searchBarInput {
    width: 70%;
    height: 100%;
    padding: 0%;
    border: 0px;
    margin: 0%;

    cursor: text;
}

.searchBarInput .leadingText{
    width: 96%;
    height: 100%;
    padding: 0%;
    border: 0px;
    margin: 0% 0% 0% 4%;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    list-style: none;

    font-family: 'Roboto';
    text-transform: none;

    color: rgba(0, 0, 0);
}

.searchBarInput .leadingTextHide{
    display: none;
}

.searchButton {
    width: 30%;
    height: 100%;
    padding: 0%;
    border: 0px;
    margin: 0%;

    display: flex;
    justify-content: center;
    align-items: center;

    list-style: none;
    
    font-size: 100%;
    font-family: "Righteous";
    text-transform: uppercase;

    color: rgba(0,0,0);
    background: rgba(212, 175, 55, 0.8);
    border-radius: 0px 2vh 2vh 0px;
}

.searchButton:hover{
    cursor: pointer;
}