.pool {
    width: 100%;
    height: calc(5vh + 220px + 200px);
    padding: 0% 0% 3% 0%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    background: rgba(16,16,16);
}