.dropDown {
    width: 650px;
    background: rgba(0, 0, 0);

    padding: 25px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dropDown .rating {
    height: 150px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dropDown .description {
    width: 520px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dropDown .description .movieDescription {
    list-style: none;

    height: 100%;

    font-size: 12px;
    font-family: "Righteous";
    text-transform: uppercase;
    color: rgba(255,255,255);

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.dropDown .description .buttons {
    padding: 2% 18% 0% 18%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

}