.dropDown {
    width: 95%;
    height: 22vh;
    padding: 2.5%;
    margin: 0vh 0vw 5vh 0vw;

    background: rgba(0, 0, 0);
    border-radius: 2vh;

    display: flex;
    flex-direction: row;
}

.dropDownHide {
    display: none;
}

.dropDown .rating {
    height: calc(100% - 1vh);
    width: 25%;
    margin-top: 1vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.dropDown .description {
    height: 100%;
    width: 72%;
    margin-right: 3%;
    display: flex;
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: space-between;
    border-radius: 10px;
}

.dropDown .description .movieDescription {

    margin-bottom: 5%;

    list-style: none;
    font-size: 1.6vh;
    font-family: "Righteous";
    text-transform: uppercase;
    color: rgba(255,255,255);

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    padding: 10px;
    margin: 5px;
    background-color: rgba(0,0,0,0.8);
    width: max-content;
    border-radius: 20px;
}

.dropDown .description .buttons {
    width: 100%;
    height: 20%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-color: rgba(0,0,0,0.8);
    padding: 10px 5px 10px 0px;
}
.dropDown .description .buttons a {
    width: 30%;
    height: 100%;
}

@media screen and (max-width: 768px){

    .dropDown {
        width: 95%;
        height: 22.5vh;
        padding: 2.5%;
        margin: 0vh 0vw 5vh 0vw;
    }

}