@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.navigationBar {
  width: 500px;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
  
.navigationBar li {
  list-style: none;
  width: 100px;
  height: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
    
  font-size: 16px;
  font-family: "Righteous";
  text-transform: uppercase;
  color: rgba(212, 175, 55);

  padding: 5px;
}

.navigationBar li:hover {
  color: rgba(0,0,0,0.8);
  background: rgba(212, 175, 55, 0.5);
  border-radius: 5px;
  cursor: pointer;
}

.navigationBar li.active {
  color: rgba(0,0,0,0.8);
  background: rgba(212, 175, 55, 0.8);
  border-radius: 5px;
}