.prijavaRegistracijaIntro {
    width: 90vw;
    height: 50vh;
    padding: 10vh 5vw 27vh 5vw;
    margin: 0%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.prijavaRegistracijaIntro .prijava {
    height: calc(100% - 13vh);
    width: 40vw;
    padding: 5vh 0vw 8vh 0vw;
    margin: 0%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.prijavaRegistracijaIntro .prijava .introMessageSignIn{
    width: 100%;
    height: fit-content;
    padding: 0%;
    margin: 0%;

    font-size: 3vh;
    text-align: center;
    font-family: "Righteous";
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
    text-shadow: 0px 0px 1vh rgba(0, 0, 0, 1);
    filter: drop-shadow(0px 0px 1vh rgba(0, 0, 0, 1));
    background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 90%);
}

.prijavaRegistracijaIntro .registracija {
    height: 100%;
    width: 40vw;
    padding: 0%;
    margin: 0%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.prijavaRegistracijaIntro .verticalLine {
    height: 100%;
    width: 1vw;
    padding: 0%;
    margin: 0vh 4.5vw 0vh 4.5vw;

    border-radius: 2vh;
    background: rgba(212, 175, 55, 0.8);
}