.rate {
    width: 110px;
    height: 40px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.rate .stars {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    margin: 0% 5% 0% 5%;

    color: rgba(255,255,255);
}

.rate .stars .active {
    color: rgba(212, 175, 55);
}

.rate .stars .active:hover {
    cursor: pointer;
}

.rate .stars .notActive:hover {
    cursor: pointer;
}

.rate .text {
    list-style: none;
    
    height: 16px;

    font-size: 12px;
    font-family: "Righteous";
    text-transform: uppercase;
    color: rgba(255,255,255);

    display: flex;
    justify-content: center;
    align-items: center;
}