.topic {
    width: 100%;
    height: fit-content;
    padding: 0%;
    margin: 0%;
}

.topic .topicSeparator{
    width: 90%;
    height: fit-content;
    padding: 0%;
    margin: 0% 5% 0% 5%;
}

.topic .topicPool{
    width: 70%;
    height: fit-content;
    padding: 0%;
    margin: 0%;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
}