.playMovieBody {
    width: 70%;
    height: fit-content;
    margin: 0% 15% 0% 15%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.playMovieDescription {
    width: 100%;
    height: 50vh;
    margin: 0vh 0vw 5vh 0vw;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.playMovieDescription .movieInfo {
    width: 30%;
    height: 100%;
    padding: 0vh 0vw 0vh 0vw;
    margin: 0%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    font-size: 2vh;
    font-family: "Righteous";
    text-transform: uppercase;
    color: rgba(255, 255, 255);
}

.movieInfo .movieName {
    width: fit-content;
    height: fit-content;

    text-align: center;
    padding: 0%;
    margin: 0vh 0vw 1vh 0vw;
    font-size: 5vh;
    white-space: nowrap;
}

.movieInfo .movieCathegory {
    width: fit-content;
    height: fit-content;
    padding: 0%;
    margin: 0vh 0vw 1vh 0vw;
}

.movieInfo .movieDuration {
    width: fit-content;
    height: fit-content;
    padding: 0%;
    margin: 0vh 0vw 1vh 0vw;
}

.movieInfo .movieRating {
    width: fit-content;
    height: fit-content;
    padding: 0%;
    margin: 2vh 0vw 0vh 0vw;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.movieInfo .movieAddButtons {
    width: 100%;
    height: 12vh;
    padding: 0%;
    margin: 0%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.movieInfo .movieAddButtons Button {
    width: 80%;
    height: 5vh;

    border-radius: 1.5vh;
}

.playMovieDescription .movieDescription {
    width: calc(65% - 6vh);
    height: calc(100% - 6vh);
    padding: 3vh;
    margin: 0% 0% 0% 5%;

    border-radius: 2vh;

    font-size: 2.5vh;
    font-family: "Righteous";
    background: rgba(212, 175, 55, 0.6);
    color: rgba(0, 0, 0);
}

.playMovieBody .commentsSection {
    width: 100%;
    height: fit-content;
    padding: 0%;
    margin: 0vh 0vw 5vh 0vw;
}

.playMovieBody .commentsSection .cantSeeCommentsMessage {
    width: 100%;
    height: fit-content;
    padding: 0%;
    margin: 0vh 0vw 0vh 0vw;

    font-size: 2vh;
    font-family: "Righteous";
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.8);

    display: flex;
    justify-content: center;
}

@media screen and (max-width: 768px){

    .movieInfo .movieName {
        font-size: 3vh;
    }

    .playMovieBody {
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 150px;
    }

    .playMovieDescription .movieInfo {
        width: 100%;
    }

}