.navigation {
    width: 100vw;
    height: calc(2vh + 40px);

    padding-bottom: 5vh;

    display: flex;
    justify-content: center;
    align-items: flex-start;

    background: linear-gradient(rgba(0,0,0) 0%,rgba(0,0,0) 40%,rgba(16,16,16) 100%)
}