.prijava {
    height: calc(100% - 13vh);
    width: 40vw;
    padding: 5vh 0vw 8vh 0vw;
    margin: 0%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.prijava .introMessageSignIn{
    width: 100%;
    height: fit-content;
    padding: 0%;
    margin: 0%;

    font-size: 3vh;
    text-align: center;
    font-family: "Righteous";
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
    text-shadow: 0px 0px 1vh rgba(0, 0, 0, 1);
    filter: drop-shadow(0px 0px 1vh rgba(0, 0, 0, 1));
    background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 90%);
}

@media screen and (max-width: 768px){

    .prijava .introMessageSignIn{
        width: 100%;
        height: fit-content; 
        font-size: 1rem;
        text-align: center;
    }

}